<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607471003986-ia3cai305q2oajapotuf14pj1ahj4cbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607471003986-ia3cai305q2oajapotuf14pj1ahj4cbc</string>
	<key>API_KEY</key>
	<string>AIzaSyCnnH6kgXC01Drc5cW7teOgPm698yFPWRs</string>
	<key>GCM_SENDER_ID</key>
	<string>607471003986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mashtalyApp</string>
	<key>PROJECT_ID</key>
	<string>mashtaly-hu</string>
	<key>STORAGE_BUCKET</key>
	<string>mashtaly-hu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607471003986:ios:427715a74568712cd5728b</string>
</dict>
</plist>